@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.button {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid transparent;
  }
  
  .button-primary {
    background-color: #007bff; /* Blue */
    color: #FFE81F; /* Gold text */
    border-color: #FFE81F;
  }
  
  .button-secondary {
    background-color: #6c757d; /* Gray */
    color: #FFE81F; /* Gold text */
    border-color: #FFE81F;
  }
  
  .button-warning {
    background-color: #ffc107; /* Yellow */
    color: #343a40; /* Dark text */
    border-color: #FFE81F;
  }
  
  .button-success {
    background-color: #28a745; /* Green */
    color: #FFE81F; /* Gold text */
    border-color: #FFE81F;
  }
  
  .button:hover {
    background-color: #FFE81F; /* Gold background on hover */
    color: #343a40; /* Dark text on hover */
  }

  .button:disabled {
    background-color: #4e4e4e; /* Darker background for disabled state */
    color: #a8a8a8; /* Lighter text to indicate non-interactivity */
    cursor: not-allowed; /* Change cursor to indicate the button is disabled */
    border-color: #3e3e3e; /* Darker border color */
  }

.error-message {
  flex-grow: 1;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #FFE81F; /* Gold color similar to Star Wars logo */
  background-color: #000; /* Space-like dark background */
  border: 1px solid #FFE81F; /* Gold border */
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  animation: slideIn 0.5s forwards;
}

.error-message h2 {
  margin: 0;
  font-size: 24px;
  color: #ff441f;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}