<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let error of formErrors | keyvalue" style="display: flex">
      <div *ngIf="form.errors?.[error.key]" class="error-message">
        <h2>{{ error.value }}</h2>
      </div>
    </div>

    <div *ngIf="!form.invalid">
      <button type="submit" class="button button-primary" style="display: block" [disabled]="!form.valid">Submit</button>
    </div>


    <div class="grid grid-cols-2 gap-4">
      <ng-container *ngFor="let key of formControlsArray">
        <div>
          <app-attribute-input [controlKey]="key.name" [formRef]="form"></app-attribute-input>
          <button class="button button-warning" (click)="reroll(key)">Reroll monster</button>
          <button class="button button-secondary" (click)="saveToIndexedDB(key)">Save to IndexedDB</button>
      </div>  
    </ng-container>
    </div>
    
  </form>