.monster-card {
    background-color: #1a1a1a;
    color: #feda4a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
    position: relative;
    display: flex;
    overflow: hidden;
    font-family: 'Aurebesh', sans-serif;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease;
    justify-content: space-between;
    border: 2px solid #feda4a; /* Add a border to highlight the card */
}

.monster-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(254, 218, 74, 0.6); /* Brighter and larger shadow on hover */
}

.monster-card .monster-image {
    width: 100%;
    max-width: 300px; /* Adjust based on layout */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #feda4a; /* Highlight image with a border */
}

.monster-card h2 {
    font-family: 'Star Jedi', sans-serif;
    font-size: 28px; /* Adjust for better fit */
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #ffd700;
}

.monster-card .attributes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid layout */
    gap: 10px;
}

.monster-card .attribute-item {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.monster-card .attribute-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 10px;
    /* Add specific icons based on class */
}

.attribute {
    display: block;
}

.monster-card .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #feda4a;
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.monster-card .cta-button:hover {
    background-color: #ffd700;
    transform: translateY(-2px); /* Slight lift */
}