@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add application styles & imports to this file! */
body {
    .star-wars-theme {
        background-color: #000;
        color: #ffe81f;
        font-family: 'Star Jedi', sans-serif;
        text-align: center;
    }
    background-color: #000;
    padding: 20px;
    border: 5px solid blue; /* Adjust the border width and color as needed */
    margin: 0;
    height: calc(100vh - 50px);
}


.button {
    z-index: 9999;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid transparent;
  }
  
  .button-primary {
    background-color: #007bff; /* Blue */
    color: #FFE81F; /* Gold text */
    border-color: #FFE81F;
  }
  
  .button-secondary {
    background-color: #6c757d; /* Gray */
    color: #FFE81F; /* Gold text */
    border-color: #FFE81F;
  }
  
  .button-warning {
    background-color: #ffc107; /* Yellow */
    color: #343a40; /* Dark text */
    border-color: #FFE81F;
  }
  
  .button-danger {
    background-color: #dc3545; /* Red */
    color: #ffffff; /* White text for contrast */
    border-color: #c82333; /* Slightly darker red for the border */
}

  .button-success {
    background-color: #28a745; /* Green */
    color: #FFE81F; /* Gold text */
    border-color: #FFE81F;
  }
  
  .button:hover {
    background-color: #FFE81F; /* Gold background on hover */
    color: #343a40; /* Dark text on hover */
  }

  .button:disabled {
    background-color: #4e4e4e; /* Darker background for disabled state */
    color: #a8a8a8; /* Lighter text to indicate non-interactivity */
    cursor: not-allowed; /* Change cursor to indicate the button is disabled */
    border-color: #3e3e3e; /* Darker border color */
  }